.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .simple-lister{
        list-style: none;
        margin: 0;
        padding: 20px;

        li {
            margin-bottom: 30px;
        }
    }
}